@charset "UTF-8";

// * -------------------------------
// * Mixin & function definition
// * -------------------------------

// * -------------------------------
// * 폰트 사이즈 맵 처리
@function fontSize($n: null) {
	@return nth(map-get($font, size), $n);
}

// * -------------------------------
// * Default Background Definition
@mixin bg($bg, $left: 0, $top: 0, $repeat: no-repeat) {
	background: url($folder + $bg) $left $top $repeat;
}

// * -------------------------------
// * blind definition
@mixin blind{
	position:absolute;
	left:-999em;
	font-size:0;
	height:0;
}

// * -------------------------------
// * @param type[string tag]
// * tag blind definition
@mixin casper($elem...) {
	$selector:'';

	@each $tag in $elem {
		$selector:$selector + ' ' + $tag + ',';
	}

	#{$selector} {
		overflow:hidden;
		@include blind;
	}
}
@mixin ally($elem) {
	#{$elem} {
		overflow:hidden;
		@include blind;
	}
}

// * -------------------------------
// * share & home
@mixin go($width, $height, $top, $margin-left) {
	@extend %ir;
	@extend %baseline;
	display:block;
	width:$width*1px;
	height:$height*1px;
	top:$top*1px;
	margin-left:$margin-left*1px;
	z-index:50;
}

// * -------------------------------
// * link buttion style
@mixin btn-link($width, $height, $bottom, $margin-left) {
	@extend %ir;
	@extend %baseline;
	display:block;
	width:$width*1px;
	height:$height*1px;
	bottom:$bottom*1px;
	margin-left:$margin-left*1px;
	z-index:10;
}

@mixin btn-link-2($width, $height, $top, $margin-left) {
	@extend %ir;
	@extend %baseline;
	display:block;
	width:$width*1px;
	height:$height*1px;
	top:$top*1px;
	margin-left:$margin-left*1px;
	z-index:10;
}

// * -------------------------------
// * sns button definition
@mixin share($top, $margin-left) {
	.sns{
		@extend %baseline;
		top:$top + px;
		margin-left:$margin-left + px;
		overflow:hidden;
		text-indent:0;
		a {
			float:left;
			margin-right:0;
		}
		z-index:50;
	}
}
// * -------------------------------
// * section-setting
// * @param (높이, 배경, ir처리유무 yes/no 기본값 yes)
@mixin section-set($bg, $ir: yes) {
	$height : image-height($bg);
	@if ($ir==yes){
		@extend %ir;
	}
	position:relative;
	@include bg($bg, 50%);
	height:$height;
}

// * -------------------------------
// * Layer popup background
// * @param type[배경경로, ir 설정]
@mixin layer($bg, $ir: yes) {
	@if ($ir==yes) {
		@extend %ir;
	}
	position: relative;
	display: none;
	width: image-width($bg);
	height: image-height($bg);
	@include bg($bg);
	
}

@mixin wrap {
	margin:0 auto;
	width:$minWidth;
}

// * -------------------------------
// * star center
@mixin center ($w,$h){
		width:$w*1px;
		height:$h*1px;
		position: absolute;
		top:50%;
		left:50%;
		margin-top:($h/2)*-1px;
		margin-left:($w/2)*-1px;
	}

// *--------------------------------
// * layer contents - scroll & table
@mixin scroll($max-height){
	max-height:$max-height*1px;
	overflow-x:hidden;
	overflow-y:auto;
}

@mixin table-style($border, $solid, $color){
		table-layout: fixed;
		width:100%;
		text-align:center;
		border-collapse: collapse;
		border:$border*1px $solid $color;
		text-indent: 0;
		caption {
			display: none;
		}
}
