.bt_area tr:hover{background:#ffe8ea!important;cursor:default;}
.guide_wrap{padding:0 30px 30px 30px;}
.gd_tlt{margin:50px 0 20px 0;padding:10px 20px;color:#fbff97;font-size:18px;background:#666;font-family:'NanumBarunGothic', verdana, sans-serif; }
.tpl_bg{font-weight:bold;background:#fffacf!important;}
.bb td{border-bottom:1px solid #6199b5;}

.bb2 td+td+td{border-bottom:1px solid #6199b5;}
.gnb{font-weight:bold;background:#d4fffc!important}
.dev_tlt{font-weight:bold;}
.dev_tlt span{padding-left:5px;color:#999;font-size:11px;display:inline-block;}

.bt_area{margin-top:-2px;margin-top:-8px\9;}
.bt_area table td a{color:#0a2ab4;font-weight:bold;}
/*.all_wrap{padding-top:110px;}*/
.top_area{position:relative;}

.mb_tlt{margin:30px 0 10px 0;padding:5px;color:#fbff97;font-size:14px;background:#666;font-family:'NanumBarunGothic', verdana, sans-serif; }
.new{color:#ff0000;}
.dim td{background:#bebebe;color:#fff!important}