* {margin:0; padding:0;}
body {position:relative; color:#222;font-size:13px; font-family:'NanumBarunGothic',Dotum, Arial,sans-serif; }
a {color:#222;text-decoration: none}
a:hover{color:#004aa4;text-decoration:underline;}
h1 {padding:20px 10px;color:#fff;font-size:16px;background:#585858;}
h1 a{color:#fff;}
h1 a:hover{color:#fff;text-decoration:none;}
h2 {padding:6px 14px; background:#DEDEDE; font-size:14px;color:#404040}
table {border-collapse: collapse; border-top: 2px solid #006699; width:100%;}
th {border:1px solid #dfdfdf; background:#f6f6f6; color:#0a376f; padding:8px 0px 7px 0;}
td {border:1px solid #dfdfdf; color:#222; padding:5px; height:18px}
ul, li {line-height:20px;list-style: decimal; list-style-position: inside}
.clear {clear:both}
.index_tbl th{padding:10px;font-size:16px;}
.index_tbl td{padding:10px;}

.title_wrap{position:relative;height:50px;text-align:left;padding:0 5px;}
.title_wrap.sub .btn{margin:9px 0 0;padding:0;background:#fff!important;border:1px solid #dfdfdf;border-bottom:none;}
.title_wrap.sub .btn a{ display: block; width: 100%;color:#222;font-size:16px;font-weight:bold;}
.title_wrap.sub .btn.on,
.title_wrap.sub .btn:hover{border-color:#cf242a}
.title_wrap.sub .btn.on a,
.title_wrap.sub .btn a:hover{ color: #fff;}
.title{float:left;min-width:150px;margin-top:7px;padding:8px;color:#fff;font-size:18px;font-weight:bold;text-align:center;}
.title.pc{background: #d22328;}
.title.mobile {background: #0072bc}
.title.cs {background: #1da697}
.title.global {background: #cbc517}
.btn_r{position: absolute;top:-50px;right:10px;}
.title_wrap .link{margin:11px 10px 0;min-width:auto;display: inline-block;padding: 8px 10px;font-size: 12px;color:#555;text-decoration: underline}
.title_wrap .link:hover{text-decoration: none;color:red;}

.navwrap {clear:both;}
.nav {height:1%;}
.nav:after {content:''; display:block; clear:both}
.nav li {list-style:none; float:left; padding:10px 16px; text-align:center;}
.nav li a {font-size:16px; font-weight:bold; color:#999}
.nav li.on {border:1px solid #276bcl; border-bottom: none;}
.nav li.on a {font:bold 14px;color:#000;text-decoration:underline;}
.wrap {width:100%; margin-top:10px}
.btnwrap {margin:10px auto;width:100%;text-align:center;}
.btn {display:inline-block; min-width:120px; background:#000; padding: 10px 0 10px 10px; text-align:center;}
.btn a { padding:11px 0;font-size:18px;color:#fff}
.btn a:hover,
.btn.on a{ background-color: #d22328;text-decoration: none;color:#fff}
.btn.pc {background: #d22328}
.btn.mobile {background: #d22328}
.btn.global {background: #d22328}
.tbl {border-collapse: collapse; border-top: 1px solid #969696; width:100%; margin:0 auto}
.tbl caption {margin:30px 0px 10px;padding-left:10px;font-weight:bold; font-size:16px;font-weight:bold; text-align:left;}
.tbl th {border:1px solid #ccc; background:#fefefe; color:#003366; padding:8px 0px 7px 0; font:bold 12px dotum}
.tbl td {border:1px solid #ccc; color:#333; padding:4px; height:16px}
.list , .list li{list-style:none}
.txt {font-size:11px; text-align:center; color:#CC0000; margin-bottom:10px}
.txt span {font-weight:bold}
.txt2 {width:70%; margin:0 auto; border:1px solid #b2b2b2; background:#f4f4f4; padding:6px; font-size:11px; text-align:center; color:#2c2c2c; margin-bottom:10px; line-height:16px}

.end{color:#d51818;font-weight:bold;text-align:center;}
.add{font-weight:bold}
.del td{background:#a7a7a7!important;color:#fff!important;}

h1.acc{margin-bottom:30px;font-size:35px;letter-spacing:-1px;}
.acc_table{border-top:none}
.acc_table th{color:#fff;background:#666;}
.nav.acc{border-bottom:1px solid #000}
.nav.acc li.on {background:#000}
.nav.acc li.on a{color:#fff;}
.nav.acc li a{color:#444}
.checked {text-align:center;font-weight:bold;}
.red{color:#ff0000;}

.tpl td{padding:10px;color:#222;font-size:13px;font-weight:bold;background:#cdf1f7;}
.tpl td a{padding-left:10px;color:#222;font-size:13px;font-weight:bold;background:#cdf1f7;}


h2.guide {width: 300px;margin:20px 0 10px 0;padding:8px 0 8px 10px;background:#555;font-size:14px;line-height:1;color:#fff;}

.btn-top {position:fixed;right:0;bottom:20%;background:#666}
.btn-top a {display:block;width:60px;padding:5px 0;text-align:center;color:#fff;text-decoration:none;}